body {
    font-family: 'Kanit', sans-serif;
    display: border-box;
    margin: 0;
    padding: 0;
}

#erick-name {
    font-size: x-large;
    font-weight: 400;
    padding-left: 20px;   
}

#erick-name:hover {
    color: red; 
    text-decoration: none;  
    transition: color 0.3s ease;
}

#nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    padding-right: 50px;
    font-size: large;
    background-color: black;
}

#title {
    display: relative;
    font-size: 24px;
    text-align: left;
    font-weight: 900;
    color: #fff;
    margin-right: auto;
    margin-left: 50px;
}

#title a {
    font-size: 24px;
    font-weight: 900;
    color: #fff;
}

.navbar-toggler-icon {
    color: white;
}

.navbar-nav .nav-link:hover { 
    color: red;
  }

.navbar-nav .nav-item.dropdown:hover .nav-link {
    color: red;
  }
  
.navbar-nav .nav-item.dropdown.show .nav-link {
    color: red;
}
  
.navbar-nav .nav-item.dropdown.show .dropdown-menu a:hover {
    color: red;
    background-color: transparent;
}

#black, #white {
    height: 100vh;  /*avaliar e ajustar para diferentes media queries*/
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-top: 60px;
}

#black {
    background-color:black;

}

#black span {
    color: white;
}

.round-image-container {
    margin-top: 50px;
    overflow: hidden;
    width: 300px; 
    height: 300px; 
    border-radius: 100%;
}

.round-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#curriculum {
    margin-top: 20px;
}

#lateral-txt {
    padding-left: 90px;
    padding-top: 100px;
    font-size: 50px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

#black span #txt-highlight{
    color: red;
}

@media (max-width: 767px) {
    .navbar-nav {
      width: 100%;
      justify-content: center;
    }

    .navbar-nav .dropdown-menu {
      margin-left: 25px; 
    }

    .navbar-nav .dropdown-toggle {
        margin-left: 15px;
    }
}