body {
    font-family: 'Kanit', sans-serif;
    display: border-box;
    margin: 0;
    padding: 0;
}

.header, #nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.header {
    background-color: black;
    height: 3.5em;
}

.nav-header {
    margin-right: 80px;
}

.nav-header a {
    margin-right: 20px;
}

#title {
    display: relative;
    font-size: 24px;
    text-align: left;
    font-weight: 900;
    color: #fff;
    margin-right: auto;
    margin-left: 50px;
}

#title a {
    font-size: 24px;
    font-weight: 900;
    color: #fff;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}
